@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --font-sans: Inter, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* ---------------------------------- *\
 * BASE
\* ---------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0d0d0d] 
  /* bg-zinc-900  */
   text-zinc-50
 /* bg-[#2a1454] */
 /* bg-[#8750f7] */;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(
      circle at 20% 50%,
      hsl(189 100% 50% / 0.03) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 80%,
      hsl(189 100% 50% / 0.03) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 40% 20%,
      hsl(189 100% 50% / 0.02) 0%,
      transparent 50%
    );
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(hsl(0 0% 15% / 0.5) 1px, transparent 1px),
    linear-gradient(90deg, hsl(0 0% 15% / 0.5) 1px, transparent 1px);
  background-size: 50px 50px;
  mask-image: radial-gradient(
    ellipse 80% 50% at 50% 50%,
    black 40%,
    transparent 100%
  );
}

@keyframes grid-flow {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

/* body{
  background: rgb(135,80,247);
background: radial-gradient(circle, rgba(135,80,247,1) 0%, rgba(42,20,84,1) 100%);
} */

/* font */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
headline-1,
headline-2 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

/* ---------------------------------- *\
 * TYPOGRAPHY
\* ---------------------------------- */

.headline-1,
.headline-2 {
  @apply max-w-max;
  opacity: 1;
}

.split-word .split-char {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background: -webkit-linear-gradient(60deg, #00eeff, #233f41);

  background-clip: text;
  color: transparent;
  display: inline-block;
}

/* .experience {
  background: -webkit-linear-gradient(60deg, #00eeff, #233f41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.headline-1 {
  @apply font-semibold lg:text-[55px] text-5xl leading-tight lg:leading-[1.15];
}

.headline-2 {
  @apply font-semibold text-3xl lg:text-4xl lg:leading-tight;
}

.title-1 {
  @apply font-normal text-[22px];
}
span.index-module_type__E-SaG {
  @apply font-extrabold text-[#00e7f8] text-[2rem] xl:text-[45px];
}
/* ---------------------------------- *\
 * UTILITIES
\* ---------------------------------- */

.material-symbols-rounded {
  @apply w-[1em] h-[1em] overflow-hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
  @apply mx-auto px-4 lg:px-8 xl:max-w-6xl;
}

.img-box {
  @apply bg-zinc-700 overflow-hidden;
}

.img-cover {
  @apply w-full h-full object-cover;
}

.section {
  @apply mt-20 lg:mt-32 overflow-hidden;
}

.w-11.h-11.rounded-lg.grid.place-items-center.bg-lime-400.text-zinc-950.shrink-0 {
  background-color: #00e7f8;
}

/* ---------------------------------- *\
 * COMPONENTS
\* ---------------------------------- */

/* Menu btn */

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/2 backdrop-blur-2xl hover:bg-zinc-50/15 transition-[transform,background-color] active:scale-95 md:hidden;
}

/* Navbar */

.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-xs opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-none md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply visible opacity-100 blur-none scale-100;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors;
}

.nav-link.active {
  @apply text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply -z-10 absolute bg-[#00e7f8] rounded-lg transition-[top,left] duration-500;
}

/* Button */

.btn {
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5 ring-inset transition-[background-color];
}

.btn-secondary {
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
}

.btn .material-symbols-rounded {
  @apply text-[18px];
}

.btn:has(.material-symbols-rounded) {
  @apply pr-3;
}

.btn-primary {
  @apply h-11 bg-[rgb(0,231,248)] text-zinc-950 
  /* hover:bg-[#05acb8] active:bg-[#05acb8]; */;
}
.btn-primary:hover {
  /* box-shadow: rgba(0, 231, 248, 0.35) 0px 5px 50px; */
  @apply bg-[rgba(0,232,248,0.82)];
}
.btn-primary:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
  scale: 0.95;
}

.btn-outline {
  @apply bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800 h-11;
}

/* button */
.contact-btn a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #00e7f8;

  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  /* margin-top: 40px; */
  letter-spacing: 4px;
}

.contact-btn a:hover {
  background: #00e7f8;
  background: linear-gradient(
    90deg,
    hsl(184, 100%, 75%) 0%,
    #7ff6ff 50%,
    hsl(184, 100%, 75%) 100%
  );
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #7ff6ff, 0 0 5px #7ff6ff, 0 0 10px #7ff6ff,
    0 0 10px #7ff6ff;
}
.contact-btn a:active {
  box-shadow: none;
  scale: 0.95;
}

.contact-btn a span {
  position: absolute;
  display: block;
}

.contact-btn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00e7f8);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.contact-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #00e7f8);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
.contact-btn2 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, transparent, black);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.contact-btn a span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00e7f8);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.contact-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #00e7f8);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* blob animation */
.BannerImg {
  box-shadow: 0 20px 5px 5px rgba(0, 232, 248, 0.5);
  animation: BlobAnimate 5s ease-in-out infinite alternate;
  transition: all 1s ease-in-out;
}
@keyframes BlobAnimate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Text field */

.label {
  @apply block mb-2 font-normal text-zinc-200 text-sm;
}

.text-field {
  @apply block bg-zinc-800 px-3 py-3 rounded-xl outline-hidden ring-1 ring-transparent hover:ring-[#00eeff46] focus:ring-[rgb(0,231,248)] focus:ring-2 ring-inset w-full text-sm transition-shadow;
}

.text-field::placeholder {
  @apply text-zinc-400;
}

/* animation */

.shiny-text {
  color: #ffffff44; /* Adjust this color to change intensity/style */
  background: linear-gradient(120deg, #ffffff 30%, #00eeff 60%, #ffffff 30%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

/* spotlight card*/

.card-spotlight {
  position: relative;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: #00e7f8;
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
h2.text-2xl.lg\:text-3xl.xl\:text-4xl.max-w-\[15ch\].sm\:max-w-\[20ch\].lg\:max-w-\[25ch\].mt-5.mb-8.lg\:mb-10.font-thin {
  font-family: "Inter";
}
body {
  position: relative;
}

@keyframes brightnessPulse {
  0% {
    filter: brightness(0.8);
  }
  50% {
    filter: brightness(1.3);
  }
  100% {
    filter: brightness(0.8);
  }
}
.gsap-animation {
  @apply top-0 left-0 z-50 fixed flex flex-col justify-center items-center gap-3 w-screen h-screen;
  background: linear-gradient(45deg, #08001f, #220055);
  animation: brightnessPulse 2s infinite alternate ease-in-out;
}

.project:hover .project-text {
  @apply translate-y-0 duration-500;
}

/* chat ai agent  */
.chat-window-wrapper .chat-window-toggle {
  @apply right-8 bottom-8 z-50 fixed place-items-center grid bg-[rgba(0,229,255,0.7)] shadow-[rgba(0,229,255,0.3)] shadow-lg rounded-full w-14 h-14 text-zinc-950 transition-[transform,background-color];
}
.chat-window-wrapper .chat-window-toggle:hover,
.chat-window-wrapper .chat-window-toggle:focus {
  transform: scale(1.05);
  background: rgba(0, 229, 255, 0.589);
}
.chat-layout .chat-header {
  @apply bg-[rgba(0,229,255)];
}
.chat-message.chat-message-from-user:not(.chat-message-transparent) {
  @apply bg-[#00e7f8];
}
.chat-input-send-button[disabled][data-v-de5e7961],
.chat-input-file-button[disabled][data-v-de5e7961] {
  cursor: no-drop;
  @apply text-[#00e7f8];
}
.chat-input-send-button[data-v-de5e7961],
.chat-input-file-button[data-v-de5e7961] {
  height: var(--chat--textarea--height);
  width: var(--chat--textarea--height);
  background: var(--chat--input--send--button--background, white);
  cursor: pointer;
  color: #00e7f8;
  border: 0;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color var(--chat--transition-duration) ease;
}
.chat-window-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 80px;
  right: 50px;
  z-index: var(--chat--window--z-index);
  max-width: calc(100% - var(--chat--window--right, var(--chat--spacing)) * 2);
  max-height: calc(
    100% - var(--chat--window--bottom, var(--chat--spacing)) * 2
  );
}
